.box-html
  position:absolute
  background-color:dimgrey;
  width:450px;
  height:300px;
  left:900px

.editor-actions-left
  height:30px;

.HTMLarea
  overflow-x:scroll;
  overflow-y:scroll;
  background-color:beige;
  margin-left: 10px;
  margin-bottom: -17px;
  height: 270px;
  width :450px
  padding-right: 9px;
  padding-bottom: 0px;

.box-css
  position:absolute
  background-color:dimgrey;
  width:450px;
  height:300px;
  left:900px
  top:300px

.CSSarea
  overflow-x:scroll;
  overflow-y:scroll;
  background-color:beige;
  margin-left:16px;
  margin-bottom: -17px;
  height: 270px;
  width :450px
  padding-right: 9px;
  padding-bottom: 0px;
