.editor
  position:absolute
  float :right
  padding: 25px
  overflow-y: auto
  width :18%
  height:320px
  background-color :#474747
  color :white
  margin-left:0px
  margin-top :280px
.editor .layer--info
  display: flex
  flex-direction: row
  border-top: solid thin #DDD
  border-bottom: solid thin #DDD
  padding: 8px 12px

.editor .layer--info:hover
  color: steelblue

.editor .layer--visibility
  margin-right: 12px
  cursor: pointer

.editor .layer.is-hidden
  color: gray

.editor .layer--children
  padding: 0
  padding-left: 40px
  margin-top: -1px
